center
    div class="container"
      div class="header row"
        div class="col-md-8"
        img src="http://www.multiplayergames.com/wp-content/uploads/2011/10/TwitchTV-Logo21.png"
        div class="col-md-4 btn-group-vertical"
            button id="all" class="button btn btn-primary"
                  span All
            button id="online" type="button" class="button btn btn-primary"
                  span Online
            button id="offline" type="button" class="button btn btn-primary"
                   span Offline
      div id="display" 