br 
br 
br
center
      div id="box"
            h1 id="main" ..Wiki..
            
            br
            input type="search" id="search3" name="wik"
            button  class="btn btn-success" id="search2"
                 i class="fa fa-search"  
            
      br
      br
      a target="_blank" href="https://en.wikipedia.org/wiki/Special:Random"
         p id="link"  Click here for something special...
br         
div id="display-result" 

center
      div id="logo"
         h2 A pen by Anuj Mishra 
         a target="_blank" href="https://en.wikipedia.org/wiki/Main_Page"  
           
           img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Wikipedia-W-bold-in-square-Clean.svg/1000px-Wikipedia-W-bold-in-square-Clean.svg.png"
         