br
br 
center
      h1 id="heading" ...The One with all the Weather and stuff...
br
br
div id="box"
    center
          span id="ftemp" HAHAHA 
          span id="ftemp1" &#8457
          br
          br
          button class="btn btn-info" id="toggle" C/F
          //p id="weather" ooOOPS
          br
          br
          p id="city" lkookok
          
          p id="summary" llllll
br
center
   p id="showpos" ooOOPS
   // h1 For Refresh
    br
    
    button class="btn btn-success" id="getLoc" Hitme 
    br
    br
    